{% extends 'base.html.twig' %}

    {% block body %}

    <main class="container">

        <div class="jumbotron mt-3">
            <h1 class="h1">Booking</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">+ d'infos</a>
            </p>
        </div>

        <h3 class="h1 mt-3 mb-4">Annonces les mieux notées</h3>
        <section class="row">
            {% for data in ads %}
                {% include 'ad/_ad.html.twig' with {'ad':data.annonce} %}
            {% endfor %}
        </section>

        <h3 class="h1 mt-3 mb-4">Nos meilleurs annonceurs</h3>
        <section class="row">
            {% for data in users %}
                <article class="col">
                    <div class="card-mb-3 text-center d-flex flex-column align-items-center justify-content-center">
                        <h3 class="card-header h6">{{data.user.fullName}}</h3>
                        <div class="card-body text-center d-flex flex-column align-items-center justify-content-center">
                            <img src="{{data.user.avatar}}" alt="avatar de {{data.user.fullName}}" class="float-left mr-3 avatar mb-2">
                            <p>{{data.user.introduction}}</p>
                            <a href="{{path('user_show',{'slug':data.user.slug})}}" class="btn btn-warning text-primary">+ d'infos</a>
                        </div>
                    </div>    
                </article>
            {% endfor %}
        </section>
    </main>
    {% endblock %}

